.input {
    width: 236px;
    height: 44px;
    border-radius: 12px;
    background: #262626;
    border: none;
    padding-left: 59px;
    padding-right: auto;
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 133%;
    color: #f9f9f9;
    outline: none;
}
.inputMail {
    width: 246px;
        height: 44px;
        border-radius: 12px;
        background: #262626;
        border: none;
        padding-left: 49px;
        padding-right: auto;
        font-family: var(--font-family);
        font-size: 12px;
        line-height: 133%;
        color: #f9f9f9;
        outline: none;
}
.inputPassword {
width: 217px;
    height: 44px;
    border-radius: 12px;
    background: #262626;
    border: none;
    padding-left: 78px;
    padding-right: auto;
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 133%;
    color: #f9f9f9;
    outline: none;
}

.formContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.inputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}
.label {
    position: absolute;
    top: 50%;
        left: 14px;
        transform: translateY(-50%);
        pointer-events: none;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 12px;
        line-height: 133%;
        letter-spacing: -0.02em;
        color: #686868;
        transition: all 0.3s ease;
}
.registerButton {
    margin-top: 12px;
    border-radius: 30px;
    padding: 12px 29px;
    width: 140px;
    height: 42px;
    border: none;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.02em;
    color: #1f1f1f;
    cursor: pointer;
}
.link {
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #686868;
    margin-top: 26px;
}
.placeholder {
    font-family: var(--font-family);
        font-weight: 500;
        font-size: 12px;
        line-height: 133%;
        letter-spacing: -0.02em;
        text-align: center;
        color: #f9f9f9;
}
.input::placeholder {
    color: #f9f9f9;
    opacity: 0.6;
}
.inputMail::placeholder {
    color: #f9f9f9;
        opacity: 0.6;
}
.inputPassword::placeholder {
color: #f9f9f9;
    opacity: 0.6;
}
.input:focus+.label,
.input:not(:placeholder-shown)+.label {
    top: 5px;
    font-size: 10px;
    color: #f9f9f9;
}
.inputMail:focus+.label,
.inputMail:not(:placeholder-shown)+.label {
    top: 5px;
    font-size: 10px;
    color: #f9f9f9;
}
.inputPassword:focus+.label,
.inputPassword:not(:placeholder-shown)+.label {
    top: 5px;
    font-size: 10px;
    color: #f9f9f9;
}
.eye {
    color: #f9f9f9;
        cursor: pointer;
        width: 18px;
        height: 18px;
        position: absolute;
        right: 16px;
}
.eyeContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.error {
    display: block;
    font-weight: 500;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #e90516;
    padding-left: 14px;
}
.buttonContainer {
    display: flex;
    gap: 14px;
}


